<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Time Frame Under Construction Page" />
<meta name="keywords" content="accordion, jquery, flexible, responsive, slide to top, UI, web design, coming soon, under construction, splash page, one page template" />
<meta name="author" content="Pixelmania" />
<title>Time Frame Coming Soon template 1.0</title>

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">

<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for template -->
<link href="css/style.css" rel="stylesheet" type="text/css">

<!-- Custom google fonte -->
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>

<!--[if lt IE 8]>
    <script src="js/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div id="wrapper">
  <div class="page">
    <div class="container"> 
      <!--Start Header-->
      <header>
        <div class="header-time text-center">
          <h1><a href="index.html"><i class="fa fa-clock-o"></i> Time Frame</a></h1>
          <p>We are working on something awesome.<br/>
            You can subscribe to our newsletter or follow us on our social networking sites.</p>
          <div id="timer" class="row">
            <div class="col-md-12">
              <h2 class="text-center">We will be here in...</h2>
              
              <!--Start Time Counter-->
              <ul class="counters">
                <li>
                  <input class="knob days" data-width="100" data-min="0" data-max="999" data-displayPrevious=true data-fgColor="#9ddb17" data-readOnly="true" data-thickness=".04" value="1" data-bgcolor="rgba(255,255,255,0.2)">
                  <p>Days</p>
                </li>
                <li>
                  <input class="knob hour" data-width="100" data-min="0" data-max="24" data-displayPrevious=true data-fgColor="#9ddb17" data-readOnly="true" data-thickness=".04" value="1" data-bgcolor="rgba(255,255,255,0.2)">
                  <p>Hours</p>
                </li>
                <li>
                  <input class="knob minute" data-width="100" data-min="0" data-max="60" data-displayPrevious=true data-fgColor="#9ddb17" data-readOnly="true" data-thickness=".04" value="1" data-bgcolor="rgba(255,255,255,0.2)">
                  <p>Minutes</p>
                </li>
                <li>
                  <input class="knob second" data-width="100" data-min="0" data-max="60" data-displayPrevious=true data-fgColor="#9ddb17" data-readOnly="true" data-thickness=".04" value="0" data-bgcolor="rgba(255,255,255,0.2)">
                  <p>Seconds</p>
                </li>
              </ul>
              <!--End Time Counter--> 
            </div>
          </div>
        </div>
      </header>
      <!--End Header--> 
      
      <!--Content-->
      <div class="row">
        <div class="col-md-12"> 
          <!--Start Quick links-->
          <div class="quick-links text-center"> <a href="#" data-scroll="subscribe"><i class="fa fa-envelope-o"></i></a> <a href="#" data-scroll="map"><i class="fa fa-map-marker"></i></a> </div>
          <!--End Quick links-->
          <div id="accordion" class="tf-accordion">
            <ul>
              <!--Start About Us-->
              <li> <a href="#">Know More <em>About Us</em><span class="tf-arrow">Open or Close</span></a>
                <div class="st-content">
                  <p>"I used to think that finding the right one was about the man having a list of certain qualities. If he has them, we'd be compatible and happy. Sort of a checkmark system that was a complete failure. But I found out that a healthy relationship isn't so much about sense of humor or intelligence or attractive. It's about avoiding partners with harmful traits and personality types.</p>
                  <p>And then it's about being with a good person. A good person on his own, and a good person with you. Where the space between you feels uncomplicated and happy. A good relationship is where things just work. They work because, whatever the list of qualities, whatever the reason, you happen to be really, really good together."</p>
                  <p>~ Deb Caletti, The Secret Life of Prince Charming</p>
                </div>
              </li>
              <!--End About Us--> 
              
              <!--Start Our Team-->
              <li> <a href="#">Meet <em>Our Team</em><span class="tf-arrow">Open or Close</span></a>
                <div class="st-content">
                  <div class="row show-grid">
                    <div class="col-xs-6 col-sm-3">
                      <div class="thumb"><img src="images/team-01.jpg" alt="" class="img-circle"></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <div class="thumb"><img src="images/team-02.jpg" alt="" class="img-circle"></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    
                    <!-- Add the extra clearfix for only the required viewport -->
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-3">
                      <div class="thumb"><img src="images/team-03.jpg" alt="" class="img-circle"></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <div class="thumb text-center"><img src="images/team-04.jpg" alt="" class="img-circle"></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                  </div>
                </div>
              </li>
              <!--End Our Team--> 
              
              <!--Start Services-->
              <li> <a href="#">Our <em>Services</em><span class="tf-arrow">Open or Close</span></a>
                <div class="st-content">
                  <div class="row show-grid">
                    <div class="col-md-4">
                      <div class="service-icon"><i class="fa fa-coffee"></i></div>
                      <h3>Service 1</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                    <div class="col-md-4">
                      <div class="service-icon"><i class="fa fa-dashboard"></i></div>
                      <h3>Service 2</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                    <div class="col-md-4">
                      <div class="service-icon"><i class="fa fa-gift"></i></div>
                      <h3>Service 3</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                  </div>
                </div>
              </li>
              <!--Start Services-->
            </ul>
          </div>
        </div>
      </div>
      <!--Content--> 
      
    </div>
    <!--Footer-->
    <footer>
      <section class="container text-center" data-anchor="subscribe">
        <div class="row">
          <div class="col-md-12">
            <h3>Get in touch with us</h3>
            <form id="subscribe" role="form" class="form-inline">
              <div class="newsletter-field">
                <div class="form-group">
                  <input type="email" placeholder="Enter email" id="email" class="form-control" required>
                </div>
                <button class="btn btn-default" type="submit">Subscribe</button>
              </div>
            </form>
            <div id="social-icons" class="text-center">
              <ul>
                <li class="facebook"> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                <li class="google-plus"> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
                <li class="twitter"> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li class="youtube"> <a href="#"><i class="fa fa-youtube"></i></a> </li>
                <li class="dribbble"> <a href="#"><i class="fa fa-dribbble"></i></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!--Footer--> 
    
    <!--Start Goog map-->
    <section class="google-map" data-anchor="map">
      <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kolkata,+West+Bengal,+India&amp;aq=0&amp;oq=kolkata&amp;sll=41.665273,-91.53638&amp;sspn=0.040587,0.066175&amp;ie=UTF8&amp;hq=&amp;hnear=Kolkata,+West+Bengal,+India&amp;t=m&amp;ll=22.586118,88.357544&amp;spn=1.01436,1.373291&amp;z=9&amp;output=embed"></iframe>
    </section>
    <!--End Goog map--> 
    
    <!--Start Copyright info-->
    <div class="copyright text-center">Copyright &copy; 2014 Time Frame - Coming Soon Template</div>
    <!--End Copyright info--> 
  </div>
  <div class="pattern-overlay"></div>
</div>

<!-- jQuery Plugin --> 
<script src="js/jquery-1.10.1.min.js"></script> 

<!-- Backstretch Plugin for Background Slideshow--> 
<script src="js/jquery.backstretch.min.js"></script> 
<script src="js/jquery.accordion.js"></script> 
<script src="js/jquery.easing.1.3.js"></script> 
<script>
$.backstretch([
	"images/andromeda-Galaxy_1920x1080.jpg", // Change image path
	"images/supernova-explosion_1920x1080.jpg", // Change image path
	"images/blue-planet_1920x1080.jpg"], // Change image path
	{
	duration: 7000, 
	fade: 1000
});
</script>

<!-- jQuery Form Validation Plugin --> 
<script src="js/jquery.validate.js"></script> 

<!-- Circle CountDown Plugin --> 
<script src="js/jquery.knob.js"></script> 
<script src="js/jquery.ccountdown.js"></script> 
<script src="js/init.js"></script> 
<script>
	//enter the count down date using the format year, month, day, time:time
	$(".counters").ccountdown(2016,03,20,'12:00');
</script> 
</body>
</html>
