<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SWBrasil.ORM.CommandTemplate.Templates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SWBrasil.ORM.CommandTemplate.Templates>
            <setting name="Procedure_Base" serializeAs="String">
                <value>IF EXISTS ( SELECT 1 FROM sys.objects WHERE type='P' AND name='{0}')
	DROP PROC {0}
GO


CREATE PROC dbo.{0} 
(
	{1}
	,@AbreTransacao		char(1)		= 'N'
	,@CodigoRetorno		int			=  0	output
	,@DescricaoRetorno	varchar(max)= ''	output
) AS
BEGIN

	DECLARE @TransacaoAberta char(1)
		SET @TransacaoAberta = 'N'

	BEGIN TRY

		IF @AbreTransacao = 'S'
		BEGIN
			BEGIN TRAN 
			SET @TransacaoAberta = 'S'
		END


		{2}


		SELECT 	 @CodigoRetorno		= 0
				,@DescricaoRetorno	= ''


		IF @TransacaoAberta = 'S'
		BEGIN
			COMMIT TRAN
			SET @TransacaoAberta = 'N'
		END

	END TRY
	BEGIN CATCH

		SELECT 	 @CodigoRetorno		= -9
				,@DescricaoRetorno	= 'Erro de Processamento'
				

		IF @TransacaoAberta = 'S'
		BEGIN
			ROLLBACK TRAN
			SET @TransacaoAberta = 'N'
		END

	END CATCH

END
GO
</value>
            </setting>
            <setting name="Procedure_Save" serializeAs="String">
                <value>
--SAVE
IF EXISTS( SELECT 1 FROM {0} WHERE {1})
BEGIN

	UPDATE
		{0}
	SET
		{2}
	WHERE
		{1}

END
ELSE
BEGIN

	INSERT
		INTO {0}
		(
			{3}
		)
		VALUES
		(
			{4}
		)

	{5}

END</value>
            </setting>
            <setting name="Procedure_Select" serializeAs="String">
                <value>
SELECT 
	{0}
FROM
	{1}
WHERE
	{2}</value>
            </setting>
            <setting name="Procedure_Delete" serializeAs="String">
                <value>DELETE FROM {0} WHERE {1}</value>
            </setting>
        </SWBrasil.ORM.CommandTemplate.Templates>
    </applicationSettings>
</configuration>