<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SWBrasil.ORM.CommandTemplate.Templates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <applicationSettings>
        <SWBrasil.ORM.CommandTemplate.Templates>
            <setting name="Procedure_Select" serializeAs="String">
                <value>
SELECT 
	{0}
FROM
	{1}
WHERE
	{2}</value>
            </setting>
            <setting name="Procedure_Delete" serializeAs="String">
                <value>DELETE FROM {0} WHERE {1}</value>
            </setting>
            <setting name="Procedure_Base" serializeAs="String">
                <value>IF EXISTS ( SELECT 1 FROM sys.objects WHERE type='P' AND name='{0}')
	DROP PROC {0}
GO


CREATE PROC dbo.{0} 
(
	{1}
	,@AbreTransacao		char(1)		= 'N'
	,@CodigoRetorno		int			=  0	output
	,@DescricaoRetorno	varchar(max)= ''	output
) AS
BEGIN

	DECLARE @TransacaoAberta char(1)
		SET @TransacaoAberta = 'N'

	BEGIN TRY

		IF @AbreTransacao = 'S'
		BEGIN
			BEGIN TRAN 
			SET @TransacaoAberta = 'S'
		END


		{2}


		SELECT 	 @CodigoRetorno		= 0
				,@DescricaoRetorno	= ''


		IF @TransacaoAberta = 'S'
		BEGIN
			COMMIT TRAN
			SET @TransacaoAberta = 'N'
		END

	END TRY
	BEGIN CATCH

		SELECT 	 @CodigoRetorno		= -9
				,@DescricaoRetorno	= 'Erro de Processamento'
				

		IF @TransacaoAberta = 'S'
		BEGIN
			ROLLBACK TRAN
			SET @TransacaoAberta = 'N'
		END

	END CATCH

END
GO
</value>
            </setting>
            <setting name="Procedure_Save" serializeAs="String">
                <value>
--SAVE
IF EXISTS( SELECT 1 FROM {0} WHERE {1})
BEGIN

	UPDATE
		{0}
	SET
		{2}
	WHERE
		{1}

END
ELSE
BEGIN

	INSERT
		INTO {0}
		(
			{3}
		)
		VALUES
		(
			{4}
		)

	{5}

END</value>
            </setting>
            <setting name="NapierModel" serializeAs="String">
                <value>
[MapperClass(Storable = "mcs{0}")]
    public class {0} : DataAccessLibrary
    {
        
        {1}

        #region Persistence Methods

        public new int Save()
        {
            return base.Save();
        }

        public new int Delete()
        {
            return base.Delete();
        }

        #endregion Persistence Methods
    }

</value>
            </setting>
            <setting name="Napier_Execution_XML" serializeAs="String">
                <value>

&lt;Storable name="mcs{0}"&gt;
    &lt;Execution cod="SEL"&gt;
      &lt;Summary&gt;SEL Summary&lt;/Summary&gt;
      &lt;Table&gt;{0}&lt;/Table&gt;
      &lt;Inputs&gt;
       {1}
      &lt;/Inputs&gt;
    &lt;/Execution&gt;
    &lt;Execution cod="INS"&gt;
      &lt;Summary&gt;INS Summary&lt;/Summary&gt;
      &lt;Table&gt;{0}&lt;/Table&gt;
      &lt;Inputs&gt;
        {2}
      &lt;/Inputs&gt;
    &lt;/Execution&gt;
    &lt;Execution cod="UPD"&gt;
      &lt;Summary&gt;UPD Summary&lt;/Summary&gt;
      &lt;Table&gt;{0}&lt;/Table&gt;
      &lt;Inputs&gt;
        {1}
      &lt;/Inputs&gt;
    &lt;/Execution&gt;
    &lt;Execution cod="DEL"&gt;
      &lt;Summary&gt;DEL Summary&lt;/Summary&gt;
      &lt;Table&gt;{0}&lt;/Table&gt;
      &lt;Inputs&gt;
        {3}
      &lt;/Inputs&gt;
    &lt;/Execution&gt;
  &lt;/Storable&gt;

</value>
            </setting>
            <setting name="HtmlInput" serializeAs="String">
                <value>
&lt;div class="form-group"&gt;
	&lt;label for="{0}"&gt;{0}&lt;/label&gt;&lt;br /&gt;
	&lt;input value="@Model.{0}" type="text" id="{0}" name="{0}"  class="form-control" {1} /&gt;
&lt;/div&gt;
</value>
            </setting>
        </SWBrasil.ORM.CommandTemplate.Templates>
    </applicationSettings>

</configuration>